.DS_STORE

#plugins dir
plugins
workspaces

#testing
modules/testing.py
local-install.sh
config.conf

# Byte-compiled / optimized / DLL files
core/__pycache__/
core/config.py
modules/__pycache__/
__pycache__/
*.py[cod]
*$py.class

