bs4==0.0.1
Django==2.2.24
django-cors-headers==3.0.2
django-filter==2.1.0
djangorestframework==3.10.3
djangorestframework-jsonp==1.0.2
djangorestframework-simplejwt==4.3.0
django-queryset-csv==1.0.2
tldextract==2.2.0
lxml==4.5.0
requests==2.22.0
Markdown==3.1.1
ansi2html==1.5.2
tabulate==0.8.2
slackclient==2.1.0
csvkit==1.0.4
PyJWT==1.7.1
